{namespace neos=Neos\Neos\ViewHelpers}
<style>
    li.drag-sort-active {
        background: transparent;
        color: transparent;
        border: 1px solid #4ca1af;
    }

    span.drag-sort-active {
        background: transparent;
        color: transparent;
    }

    .gcTooltip a {
        color: rgba(255,255,255,0.25) !important;
    }
    .gcTooltip a:hover {
        color: #00b5ff !important;
    }
    .gcTooltip {
        color: rgba(255,255,255,0.25) !important;
        display: none;
    }
    .neos-control-group:hover .gcTooltip {
        display: inline;
    }
</style>

<f:flashMessages as="flashMessages">
    <f:if condition="{flashMessages -> f:count()} > 0">
        <ul id="neos-notifications-inline">
            <f:for each="{flashMessages}" as="flashMessage">
                <li data-type="{flashMessage.severity -> f:format.case(mode: 'lower')}">{neos:backend.translate(id: 'flashMessage.{flashMessage.code}', arguments: flashMessage.arguments, value: flashMessage)}</li>
            </f:for>
        </ul>
    </f:if>
</f:flashMessages>

<f:if condition="{dimensionMenu}">
    <f:for each="{dimensionMenu}" as="dimension" key="index">
        <f:link.action class="neos-button {f:if(condition: '{currentDimension} == {dimension}', then: 'neos-button-primary', else: 'neos-button-secondary')}" action="index" arguments="{dimension: dimension}">
            <f:if condition="{dimension}">
                <f:then>
                    {dimension}
                </f:then>
                <f:else>
                    <f:translate id="default">Default</f:translate>
                </f:else>
            </f:if>
        </f:link.action>
    </f:for>
    <br>
    <br>
</f:if>

<f:if condition="!{globalContent}">
    <span><f:translate id="empty.content">The place looks pretty empty! What are you waiting for? Put on some global content!</f:translate></span>
</f:if>

<f:form action="update" object="{globalContent}" objectName="globalContent" class="no-class-given">
    <ul class="neos-content neos-container-fluid drag-sort-enable" id="gcList">
        <f:for each="{globalContent}" as="foo" key="index">

            <li class="neos-control-group" data-identity="{foo -> f:format.identifier()}">
                <label class="neos-control-label" for="{index}.gcValue">
                    {foo.gcKey}
                    <span class="gcTooltip">
                        - <a href="javascript:copyStringToClipboard('{foo.gcKey}');"><f:translate id="copy">Copy</f:translate></a>
                        - <a data-toggle="modal" href="#remove-gc-{index}" data-neos-toggle="tooltip"><f:translate id="remove">Remove</f:translate></a>
                    </span>
                </label>

                <div class="neos-controls neos-controls-row">

                    <f:if condition="{foo.gcType} == textarea">
                        <f:form.textarea property="{index}.gcValue" id="{index}.gcValue" class="neos-row-fluid widget" style="resize: vertical;" />
                    </f:if>

                    <f:if condition="{foo.gcType} == string">
                        <f:form.textfield property="{index}.gcValue" id="{index}.gcValue" class="neos-row-fluid" />
                    </f:if>

                    <f:form.textfield property="{index}.gcDimension" id="{index}.gcDimension" class="neos-row-fluid" type="hidden"/>

                </div>

                <div class="neos-hide" id="remove-gc-{index}">
                    <div class="neos-modal-centered">
                        <div class="neos-modal-content">
                            <div class="neos-modal-header">
                                <button type="button" class="neos-close neos-button" data-dismiss="modal"></button>
                                <div class="neos-header">
                                    <f:translate id="remove">Remove</f:translate> "{foo.gcKey}"?
                                </div>
                                <div>
                                    <div class="neos-subheader" style="max-height: 600px; overflow-y: auto;">
                                        <f:translate id="remove.text">Do you really want to remove the global content with the key "{foo.gcKey}"?<br/>There is no turning back!</f:translate>
                                    </div>
                                </div>
                            </div>
                            <div class="neos-modal-footer">
                                <a href="#" class="neos-button" data-dismiss="modal"><f:translate id="close">Close</f:translate></a>
                                <f:link.action class="neos-button neos-button-danger" action="remove" arguments="{identity: foo, dimension: foo.gcDimension}"><f:translate id="remove">Remove</f:translate></f:link.action>
                            </div>
                        </div>
                    </div>
                </div>
            </li>

        </f:for>
    </ul>
    <div class="neos-footer">
        <f:if condition="{globalContent}">
            <f:form.submit value="{neos:backend.translate(id: 'save', value: 'Save')}" class="neos-button neos-button-primary" />
        </f:if>
        <button class="neos-button neos-button-secondary" title="View detailed Download-History" data-toggle="modal" href="#create-new-content" data-neos-toggle="tooltip"><f:translate id="add.new">Add new</f:translate></button>
    </div>
</f:form>

<div class="neos-hide" id="create-new-content">
    <div class="neos-modal-centered">
        <div class="neos-modal-content">

            <f:form action="create" object="{content}" objectName="content" class="no-class-given">
                <div class="neos-modal-header">
                    <button type="button" class="neos-close neos-button" data-dismiss="modal"></button>
                    <div class="neos-header">
                        <f:translate id="add.new.header">Create a new global content field</f:translate>
                    </div>
                    <div>
                        <div class="neos-subheader" style="max-height: 600px; overflow-y: auto;">

                            <label class="neos-control-label" for="gcKey">
                                <f:translate id="add.new.key">Key (will be formatted into a slug)</f:translate>
                                <f:form.textfield property="gcKey" id="gcKey" class="neos-row-fluid" required="true" />
                            </label>

                            <label class="neos-control-label" for="gcType">
                                <f:translate id="add.new.type">Type</f:translate>
                                <f:form.select property="gcType" name="gcType" options="{string: 'String', textarea: 'Textarea'}" translate="{by: 'id'}" class="neos-row-fluid" />
                            </label>

                            <label class="neos-control-label" for="gcDimension">
                                <f:translate id="add.new.dimension">Dimension (Leave empty for default, insert value for new dimension)</f:translate>
                                <f:form.textfield property="gcDimension" id="gcDimension" value="{currentDimension}" class="neos-row-fluid" />
                            </label>

                        </div>
                    </div>
                </div>
                <div class="neos-modal-footer">
                    <a href="#" class="neos-button" data-dismiss="modal"><f:translate id="close">Close</f:translate></a>
                    <f:form.submit value="{neos:backend.translate(id: 'create', value: 'Erstellen')}" class="neos-button neos-button-primary" />
                </div>
            </f:form>

        </div>
    </div>
</div>

<script>
    /* Made with love by @fitri
     This is a component of my ReactJS project
     https://codepen.io/fitri/full/oWovYj/ */

    function enableDragSort(listClass) {
        const sortableLists = document.getElementsByClassName(listClass);
        Array.prototype.map.call(sortableLists, (list) => {enableDragList(list)});
    }

    function enableDragList(list) {
        Array.prototype.map.call(list.children, (item) => {enableDragItem(item)});
    }

    function enableDragItem(item) {
        item.setAttribute('draggable', true)
        item.ondrag = handleDrag;
        item.ondragend = handleDrop;
    }

    function handleDrag(item) {
        const selectedItem = item.target,
            list = selectedItem.parentNode,
            x = event.clientX,
            y = event.clientY;

        selectedItem.classList.add('drag-sort-active');
        let swapItem = document.elementFromPoint(x, y) === null ? selectedItem : document.elementFromPoint(x, y);

        if (list === swapItem.parentNode) {
            swapItem = swapItem !== selectedItem.nextSibling ? swapItem : swapItem.nextSibling;
            list.insertBefore(selectedItem, swapItem);
        }
    }

    function handleDrop(item) {
        item.target.classList.remove('drag-sort-active');
        var list = document.getElementById('gcList').getElementsByTagName('li'),
            reorderedList = [];

        for (var i = list.length >>> 0; i--;) {
            reorderedList.push([i, list[i]['dataset']['identity']]);
        }

        jQuery.ajax({
            type: 'GET',
            url: '/arsors/globalcontent/reorderList',
            cache: false,
            //async: false,
            data: { gcList: JSON.stringify(reorderedList) },
            success: function(data){
                console.log("success",data);
            },
            error:function(err){
                console.log("error",err);
            }
        });
    }

    (()=> {enableDragSort('drag-sort-enable')})();

    function copyStringToClipboard(str) {
        // Temporäres Element erzeugen
        var el = document.createElement('textarea');
        // Den zu kopierenden String dem Element zuweisen
        el.value = str;
        // Element nicht editierbar setzen und aus dem Fenster schieben
        el.setAttribute('readonly', '');
        el.style = {position: 'absolute', left: '-9999px'};
        document.body.appendChild(el);
        // Text innerhalb des Elements auswählen
        el.select();
        // Ausgewählten Text in die Zwischenablage kopieren
        document.execCommand('copy');
        // Temporäres Element löschen
        document.body.removeChild(el);
    }
</script>
